* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --border: 1px solid #aaa;
}

#board {
  width: 70vw;
  height: 60vw;
  margin: 10px auto;

  display: flex;
  background-color: #0041C2
}

.col {
  flex: 1;
  display: flex;
  flex-direction:column-reverse;
}

.slot {
  border-radius: 50%;
  margin: 5px;
  flex: 1;
  background-color: white;
}

.hotdog {
  background-color: red;
}

.hamburger {
  background-color: yellow;
}