* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --border: 1px solid #aaa;
}

#board {
  width: 700px;
  height: 600px;
  margin: 10px auto;

  display: flex;
  background-color: gold;
}

.col {
  flex: 1;
  display: flex;
  flex-direction:column-reverse;
}

.slot {
  border-radius: 50%;
  margin: 5px;
  flex: 1;
  background-color: beige;
}

.red {
  background-color: rgb(215,0,0.800);
}

.black {
  background-color: rgb(15,15,0.800);
}